In [25]:
import numpy as np
import pandas as pd
from datetime import datetime

In [26]:
demgop = pd.read_csv('116th_congress.csv', parse_dates=True)

In [27]:
demgop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Office        530 non-null    object
 1   Name          530 non-null    object
 2   Party         530 non-null    object
 3   Birth Date    530 non-null    object
 4   Date started  530 non-null    object
dtypes: object(5)
memory usage: 20.8+ KB

In [28]:
demgop.head()

   Office            Name       Party  Birth Date Date started
0  Senate  Richard Shelby  Republican  05-06-1934   01-03-1987
1  Senate      Doug Jones  Democratic  05-04-1954   01-03-2018
2  Senate  Lisa Murkowski  Republican  05-22-1957   12-20-2002
3  Senate    Dan Sullivan  Republican  11-13-1964   01-03-2015
4  Senate  Kyrsten Sinema  Democratic  07-12-1976   01-03-2019

In [39]:
#Convert birth date and date started to datetime
demgop['Birth Date'] = demgop['Birth Date'].apply(pd.to_datetime)
demgop['Date started'] = demgop['Date started'].apply(pd.to_datetime)

In [40]:
#Calculate the difference between birth date and today, and the difference between date started and today
demgop['Age'] = pd.Timestamp.today().normalize() - demgop['Birth Date']
demgop['Time Served'] = pd.Timestamp.today().normalize() - demgop['Date started']
demgop.head()

,Office,Name,Party,Birth Date,Date started,Age,Time Served
0,Senate,Richard Shelby,Republican,1934-05-06,1987-01-03,31613 days,12378 days
1,Senate,Doug Jones,Democratic,1954-05-04,2018-01-03,24310 days,1055 days
2,Senate,Lisa Murkowski,Republican,1957-05-22,2002-12-20,23196 days,6548 days
3,Senate,Dan Sullivan,Republican,1964-11-13,2015-01-03,20464 days,2151 days
4,Senate,Kyrsten Sinema,Democratic,1976-07-12,2019-01-03,16205 days,690 days

In [ ]:
#Convert columns to years/months/days