<h1>Ticket-Splitting</h1>

After making maps showing ticket-splitting in the elections for President and United States Senate in the years 2016, 2012, 2008, 2004, and 2000, I am writing code to use when making my maps.<br><br>

Update 12/22: My first attempt at making a function and a loop to try to print the Alabama counties and how they voted for President and United States Senate in 1996.

In [1]:
#Import relevant libraries

import numpy as np
import pandas as pd
import os
from pandas import DataFrame

In [2]:
#Read in csv files

al_split = pd.read_csv('../ElectionData/Alabama.csv')
az_split = pd.read_csv('../ElectionData/Arizona.csv')
ar_split = pd.read_csv('../ElectionData/Arkansas.csv')
ca_split = pd.read_csv('../ElectionData/California.csv')
co_split = pd.read_csv('../ElectionData/Colorado.csv')
ct_split = pd.read_csv('../ElectionData/Connecticut.csv')
de_split = pd.read_csv('../ElectionData/Delaware.csv')
fl_split = pd.read_csv('../ElectionData/Florida.csv')
ga_split = pd.read_csv('../ElectionData/Georgia.csv')
hi_split = pd.read_csv('../ElectionData/Hawaii.csv')
id_split = pd.read_csv('../ElectionData/Illinois.csv')
in_split = pd.read_csv('../ElectionData/Indiana.csv')
ia_split = pd.read_csv('../ElectionData/Iowa.csv')
ks_split = pd.read_csv('../ElectionData/Kansas.csv')
ky_split = pd.read_csv('../ElectionData/Kentucky.csv')
la_split = pd.read_csv('../ElectionData/Louisiana.csv')
me_split = pd.read_csv('../ElectionData/Maine.csv')
md_split = pd.read_csv('../ElectionData/Maryland.csv')
ma_split = pd.read_csv('../ElectionData/Massachusetts.csv')
mi_split = pd.read_csv('../ElectionData/Michigan.csv')
mn_split = pd.read_csv('../ElectionData/Minnesota.csv')
ms_split = pd.read_csv('../ElectionData/Mississippi.csv')
mo_split = pd.read_csv('../ElectionData/Missouri.csv')
mt_split = pd.read_csv('../ElectionData/Montana.csv')
ne_split = pd.read_csv('../ElectionData/Nebraska.csv')
nv_split = pd.read_csv('../ElectionData/Nevada.csv')
nh_split = pd.read_csv('../ElectionData/New Hampshire.csv')
nj_split = pd.read_csv('../ElectionData/New Jersey.csv')
nm_split = pd.read_csv('../ElectionData/New Mexico.csv')
ny_split = pd.read_csv('../ElectionData/New York.csv')
nc_split = pd.read_csv('../ElectionData/North Carolina.csv')
nd_split = pd.read_csv('../ElectionData/North Dakota.csv')
oh_split = pd.read_csv('../ElectionData/Ohio.csv')
ok_split = pd.read_csv('../ElectionData/Oklahoma.csv')
or_split = pd.read_csv('../ElectionData/Oregon.csv')
pa_split = pd.read_csv('../ElectionData/Pennsylvania.csv')
ri_split = pd.read_csv('../ElectionData/Rhode Island.csv')
sc_split = pd.read_csv('../ElectionData/South Carolina.csv')
sd_split = pd.read_csv('../ElectionData/South Dakota.csv')
tn_split = pd.read_csv('../ElectionData/Tennessee.csv')
tx_split = pd.read_csv('../ElectionData/Texas.csv')
ut_split = pd.read_csv('../ElectionData/Utah.csv')
vt_split = pd.read_csv('../ElectionData/Vermont.csv')
va_split = pd.read_csv('../ElectionData/Virginia.csv')
wa_split = pd.read_csv('../ElectionData/Washington.csv')
wv_split = pd.read_csv('../ElectionData/West Virginia.csv')
wi_split = pd.read_csv('../ElectionData/Wisconsin.csv')
wy_split = pd.read_csv('../ElectionData/Wyoming.csv')

C:\Users\saraa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (1,40,181,183,185,187,189) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\saraa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2,50,52) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\saraa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\saraa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (5,51,62) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\saraa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\saraa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\saraa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3,62) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Set office column as index

al_split.set_index('Office', inplace=True)
al_split.head()

,State,Year,County,D#,R#,Pop.#,Prog.#,Proh.#,U#,S#,...,Citizens,States' Rights,Independent African American,Statesman,Write-Ins,SM#,W/I1#,W/I2#,Det.#,W#
Office,,,,,,,,,,,,,,,,,,,,,
President,Alabama,1904,Autauga,733.0,73.0,9.0,NaN,1.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
President,Alabama,1904,Baldwin,454.0,126.0,9.0,NaN,1.0,NaN,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
President,Alabama,1904,Barbour,1356.0,49.0,29.0,NaN,8.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
President,Alabama,1904,Bibb,185.0,155.0,48.0,NaN,5.0,NaN,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
President,Alabama,1904,Blount,1383.0,910.0,117.0,NaN,13.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Filter rows with the year 1996

al96 = al_split[al_split['Year'] == '1996']
al96.head()

,State,Year,County,D#,R#,Pop.#,Prog.#,Proh.#,U#,S#,...,Citizens,States' Rights,Independent African American,Statesman,Write-Ins,SM#,W/I1#,W/I2#,Det.#,W#
Office,,,,,,,,,,,,,,,,,,,,,
President,Alabama,1996,Autauga,5015.0,9509.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN
President,Alabama,1996,Baldwin,12776.0,29487.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN
President,Alabama,1996,Barbour,4787.0,3627.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
President,Alabama,1996,Bibb,2775.0,3037.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
President,Alabama,1996,Blount,5061.0,9056.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [5]:
#Data subset with state, year, county, Democratic numbers, and Republican numbers

al96_split = al96[['State', 'Year', 'County', 'D#', 'R#']]
al96_split.head()

             State  Year   County       D#       R#
Office
President  Alabama  1996  Autauga   5015.0   9509.0
President  Alabama  1996  Baldwin  12776.0  29487.0
President  Alabama  1996  Barbour   4787.0   3627.0
President  Alabama  1996     Bibb   2775.0   3037.0
President  Alabama  1996   Blount   5061.0   9056.0

In [6]:
#Make a new column with the differences between the Democratic and Republican numbers

al96_split['Difference'] = al96_split['D#'] - al96_split['R#']
al96_split.head()

C:\Users\saraa\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

             State  Year   County       D#       R#  Difference
Office
President  Alabama  1996  Autauga   5015.0   9509.0     -4494.0
President  Alabama  1996  Baldwin  12776.0  29487.0    -16711.0
President  Alabama  1996  Barbour   4787.0   3627.0      1160.0
President  Alabama  1996     Bibb   2775.0   3037.0      -262.0
President  Alabama  1996   Blount   5061.0   9056.0     -3995.0

In [47]:
al_counties = ['Autauga', 'Baldwin', 'Barbour', 'Bibb', 'Blount', 'Bullock', 'Butler', 'Calhoun', 'Chambers', 'Cherokee', \
               'Chilton', 'Choctaw', 'Clarke', 'Clay', 'Cleburne', 'Coffee', 'Colbert', 'Conecuh', 'Coosa', 'Covington', \
               'Crenshaw', 'Cullman', 'Dale', 'Dallas', 'DeKalb', 'Elmore', 'Escambia', 'Etowah', 'Fayette', 'Franklin', \
               'Geneva', 'Greene', 'Hale', 'Henry', 'Houston', 'Jackson', 'Jefferson', 'Lamar', 'Lauderdale', 'Lawrence', \
               'Lee', 'Limestone', 'Lowndes', 'Macon', 'Madison', 'Marengo', 'Marion', 'Marshall', 'Mobile', 'Monroe', \
               'Montgomery', 'Morgan', 'Perry', 'Pickens', 'Pike', 'Randolph', 'Russell', 'Saint Clair', 'Shelby', \
               'Sumter', 'Talladega', 'Tallapoosa', 'Tuscaloosa', 'Walker', 'Washington', 'Wilcox', 'Winston']

In [50]:
def split_tickets(county):
    if al96_split[num].loc['President', 'Difference'] < 0 and al96_split[num].loc['US Senate', 'Difference'] < 0:
        print('Dole / Republican')
    elif al96_split[num].loc['President', 'Difference'] > 0 and al96_split[num].loc['US Senate', 'Difference'] < 0:
        print('Clinton / Republican')
    elif al96_split[num].loc['President', 'Difference'] < 0 and al96_split[num].loc['US Senate', 'Difference'] > 0:
        print('Dole / Democratic')
    else:
        print('Clinton / Democratic')

In [ ]:
num = 0

for num in al_counties:
    print(al96_split['County'][num], ': ', split_tickets(al_counties[num]))
    num += 1